# Multiple Linear Regression

<h2>Importing the libraries

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

#Linear Regression
from sklearn.linear_model import LinearRegression

#spliting data set
from sklearn.model_selection import train_test_split

# Encoding categorical data
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

<h3>Importing the dataset

In [2]:
dataset = pd.read_csv('50_Startups.csv')

<h5><li>Reading data set

In [3]:
dataset.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [7]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        50 non-null     float64
 1   Administration   50 non-null     float64
 2   Marketing Spend  50 non-null     float64
 3   State            50 non-null     object
 4   Profit           50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

<li> Contain five column and output column is 'Profit'<br><br>
 <li> Column State is object, we need to use lable encoder

<h5>Spliting dependent vairable and  non depending vairable

In [4]:
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, 4].values

In [5]:
print(X.shape, y.shape)

(50, 4) (50,)

<h3>Encoding categorical data

<li>Encoding States into 1,2,3,4. New York -1, California - 2

In [8]:
labelencoder = LabelEncoder()
X[:, 3] = labelencoder.fit_transform(X[:, 3])

<li> AS (2 is grater than 1 and 3 is grater then 2) so our model can assume these value in wrongly<br>
    <li>so one hot encoder will make different column of each state

In [10]:
onehotencoder = OneHotEncoder()
X = onehotencoder.fit_transform(X).toarray()

<li> Avoiding the Dummy Variable Trap

In [13]:
X = X[:, 1:]

<li>As 'New york' can be written as (1,0)<br>
<li>'Calafornia' as (0,1)<br>
<li>and 'Florida' as (0,0)

<h2>Splitting the dataset into the Training set and Test set

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [16]:
print(X_train.shape, X_test.shape)

(40, 149) (10, 149)

<h2>Fitting Multiple Linear Regression to the Training set

In [17]:
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression()

<h4>Predicting the Test set results

In [18]:
y_pred = regressor.predict(X_test)

In [26]:
pd.DataFrame(y_test, y_pred)

                       0
110421.259933  103282.38
99635.073178   144259.40
110421.259933  146121.95
110421.259933   77798.83
110421.259933  191050.39
119829.396018  105008.31
119829.396018   81229.06
119829.396018   97483.56
110421.259933  110352.25
110421.259933  166187.94